<h1>Listing tests</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th>Actions</th>
  </tr>
</thead>

<tbody>
<% @test_descriptions.each do |test_description| %>
  <tr>
    <td><%= test_description.description.split("\n").first %></td>
    <td>
      <%= link_to 'Show', test_description %>
      <%= link_to 'Edit', edit_test_description_path(test_description) %>
      <%= link_to 'Destroy', test_description, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Test description', new_test_description_path %>
